#pragma once

#define WIFI_SSID_1     "your_ssid_here"
#define WIFI_PASSWORD_1 "your_password_here"

#define WIFI_SSID_2     "your_ssid_2_here"
#define WIFI_PASSWORD_2 "your_password_2_here"

#define MDNS_NAME "orangjawa"

#define APP_PASSWORD "password"